<!DOCTYPE html>
<html>
    <head>
        <title>J3H1</title>
    </head>
    <body>
        <center>
            <table width="500px" height="174px">
                <tr bgcolor="lightgreen" align="center">
                    <td width="100px">Name</td>
                    <td>Danny Chan</td>
                </tr>
                <tr align="center">
                    <td>Photo</td>
                    <td><img src="peter.jpg"></td>
                </tr>
                <tr bgcolor="yellow" align="center">
                    <td>Age</td>
                    <td>Twelve</td>
                </tr>
                <tr align="center">
                    <td>Gender</td>
                    <td>Male</td>
                </tr>
            
            </table>
        </center>
    </body>
</html>